@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: "Roboto", sans-serif;
}
body{
    background-color: black;
    color: white;
}
.left {
    width: 25vw;
    height: 100%;
    padding: 10px;
    border: 2px solid white;

}
.right {
    width: 75vw;
    margin: 16px 0;
}
.home ul li {
    list-style: none;
    width: 15px;
    gap: 15px;
    padding-top: 14px;
}
.heading{
    display: flex;
    width: 100%;
    gap: 15px;
    padding-top: 14px;
    align-items: center;
    font-size: 14px;
   color: rgb(205, 204, 203);
}
.heading img{
    width: 20px;
}
.library{
    min-height: 70vh;
    position: relative;
}
.footer{
    font-size: 10px;
    display: flex;
    gap: 10px;
    position: absolute;
    bottom: 0;
}
.footer a{
    color: grey;
    display: flex;
    justify-content: center;
}
.header{
    display: flex;
    justify-content: space-between;
    background-color: #171717;
    padding: 10px;
}
.button{
    padding-right: 30px;
}
.button button {
    width: 100px;
    height: 45px;
    border: none;
    border-radius: 50px;   
    font-weight: 600;
    
}
.signup-btn{
    background-color: #171717;
    color: rgb(198, 197, 197);
}
.button > *{
    cursor: pointer;
}

.signup-btn:hover{
    color: white;
    font-size: 13px;
}
.spotify-playlist{
    padding: 10px;
}
.card-container :hover{
    background-color: rgb(41, 40, 40);
}

.card{
    width: 150px;
    padding: 10px;
    border-radius: 5px;
    position: relative;
}
.card img{
    width: 100%;
    object-fit: contain;
    border-radius: 15px;
}

.card p {
    font-size: 12px;
    overflow: hidden;
    text-overflow: ellipsis;
    color: grey;
}
.card > *{
    padding-top: 10px;
}
.card-container{
    display: flex;
    gap: 8px;
    flex-wrap: wrap;
    max-height: 70vh;
    overflow-y: scroll;

}
.play-btn{
    width: 35px;
    height: 10px;
    position: absolute;
    top: 125px;
    fill: green;
    right: 18px;
    opacity: 0;
}
.play-btn:hover{
    opacity: 1;
    transition: 0s ease-out;
}
.play-bar{
    position: absolute;
    bottom: 0;
    width: 72%;
    background-color: rgb(49, 49, 49);
    padding: 12px;
    color: white;
    opacity: 0.9;
}
.song-btn{
    display: flex;
    justify-content: center;
}
.song-list ul{
    padding: 12px 20px;
}
.song-list ul li{
    width: 288px;
    list-style: none;
    display: flex;
    justify-content: center;
    cursor: pointer;
    padding: 10px 0;
    gap: 16px;
    background-color: #0e0d0d;
    border-radius: 5px;
    margin-bottom: 12px 0;
    align-items: center;
    font-size: 12px;
    position: relative;
    right: 20px;
   
}
.play-now{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}
.info{
    font-size: 10px;
}
.song-list{
    height: 400px;
    overflow: auto;
}
.song-list ul :hover{
    background-color: rgb(41, 40, 40); 
}